body{
   background: #F3F5FC;
   font-family: 'Montserrat', sans-serif;
}

.logo-alura{
    position: absolute;
    top:2em;
    left: 1em;
}

.muñeco{
    position: absolute;
    top: 0.2cm;
    left: 62em;
    padding: 5em 0cm 6.5cm 0cm;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 4px 32px -13px ;
}

.desencriptar-vacio{
    position: absolute;
    text-align: center;
    left: 65em;
    bottom: 14em;
    font-weight: bold;
    font-size: 16px;
    
}

.sugerencia{
    position: absolute;
    text-align: center;
    left: 61em;
    bottom: 11em;
    font-weight: bold;
}

.texto-encriptado{
    background: #F3F5FC;
    position: absolute;
    top:3em;
    left: 5em;
    border-radius: 10px;
    border:none;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    cursor: text black;
}

.texto-encriptado::placeholder{
    color: #343A40;
    font-size: 30px;

}

.texto-encriptado:focus, 
.texto-encriptado:active  {
    border: none;
    outline: none;
}

.botones{
    display: inline-block;
}

.boton-encriptar{
    position: absolute;
    left: 20em;
    bottom: 0.8cm;
    font-size: 15px;
    color: rgb(206, 195, 195);
    background: #0A3871;
    font-weight: bold;
    padding: 15px 70px 15px 70px;
    border: 0px solid #000000;
    border-radius: 15px;
    font-size: 12px;
}

.boton-desencriptar{
    position: absolute;
    left: 40em;
    bottom: 0.8cm;
    font-size: 15px;
    font-weight: bold;
    color:#0A3871;
    background: #D8DFE8;
    padding: 15px 70px 15px 70px;
    border: 1px solid #0A3871;
    border-radius: 15px;
    font-size: 12px;
}

.boton-encriptar:hover{
    background: #072a55;
    color: white;
    cursor:pointer;
    border: 0px solid black;
    transition: 1s all;
}

.boton-desencriptar:hover{
    background:#bfc6ce;
    color: #0A3871;
    cursor:pointer;
    transition: 1s all;
}

.boton-encriptar:active{
    background:#031f42;
    color: white;
    cursor:pointer;
    border: 0px solid black;
    transition: 1s all;
}

.boton-desencriptar:active{
    background:#90979e;
    color: #0A3871;
    cursor:pointer;
    border: 0px solid black;
    transition: 1s all;
}

.exclamation-icon{
    position: absolute;
    text-align: center;
    bottom: 88px;
    left: 15em;
    font-weight: bold;

}

.condiciones{
    position: absolute;
    text-align: center;
    bottom: 90px;
    left: 22em;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.copyright{
    position: absolute;
    bottom: 0em;
    left: 60em;
    font-size: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}